In [1]:
import requests
import json
import pandas as pd
import numpy as np
import os

In [2]:
## Get Geolocations for federal states and districts
with open('C:/Users/simon/Jupyter/Covid/Dashboard/landkreise_simplify200.geojson', 'r') as read_file:
    geo_kreis = json.load(read_file)

with open('C:/Users/simon/Jupyter/Covid/Dashboard/bundeslaender_simplify200.geojson', 'r') as read_file:
    geo_land = json.load(read_file)

In [3]:
## Get population stats for federal states and districts
df_einwohner_kreis = pd.read_csv('C:/Users/simon/Jupyter/Covid/Dashboard/Einwohner_kreis.csv', encoding = 'ISO-8859-1', sep=';', dtype= {'RS': str, 'Kreis': str, 'Einwohner': int})

df_einwohner_land = pd.read_csv('C:/Users/simon/Jupyter/Covid//Dashboard/Einwohner_land.csv', encoding = 'ISO-8859-1', sep=';', dtype= {'RS': str, 'Kreis': str, 'Einwohner': int})
df_einwohner_land.head()

          Bundesland  Einwohner
0  Baden-Württemberg   11100394
1             Bayern   13124737
2             Berlin    3669491
3        Brandenburg    2521893
4             Bremen     681202

In [4]:
## Get Covid stats from RKI
covid_url = 'https://opendata.arcgis.com/datasets/dd4580c810204019a7b8eb3e0b329dd6_0.geojson'
r = requests.get(covid_url)
r.status_code

200

In [5]:
a = json.loads(r.content)
df = pd.json_normalize(a['features'])

df.head()

,type,geometry,properties.IdBundesland,properties.Bundesland,properties.Landkreis,properties.Altersgruppe,properties.Geschlecht,properties.AnzahlFall,properties.AnzahlTodesfall,properties.ObjectId,properties.Meldedatum,properties.IdLandkreis,properties.Datenstand,properties.NeuerFall,properties.NeuerTodesfall,properties.Refdatum,properties.NeuGenesen,properties.AnzahlGenesen,properties.IstErkrankungsbeginn,properties.Altersgruppe2
0,Feature,None,1,Schleswig-Holstein,SK Flensburg,A05-A14,W,2,0,1,2020-11-13T00:00:00Z,01001,"16.01.2022, 00:00 Uhr",0,-9,2020-11-13T00:00:00Z,0,2,0,Nicht übermittelt
1,Feature,None,1,Schleswig-Holstein,SK Flensburg,A05-A14,W,1,0,2,2020-12-14T00:00:00Z,01001,"16.01.2022, 00:00 Uhr",0,-9,2020-12-14T00:00:00Z,0,1,0,Nicht übermittelt
2,Feature,None,1,Schleswig-Holstein,SK Flensburg,A05-A14,W,1,0,3,2020-12-27T00:00:00Z,01001,"16.01.2022, 00:00 Uhr",0,-9,2020-12-27T00:00:00Z,0,1,0,Nicht übermittelt
3,Feature,None,1,Schleswig-Holstein,SK Flensburg,A05-A14,W,1,0,4,2021-01-14T00:00:00Z,01001,"16.01.2022, 00:00 Uhr",0,-9,2020-01-13T00:00:00Z,0,1,1,Nicht übermittelt
4,Feature,None,1,Schleswig-Holstein,SK Flensburg,A05-A14,W,1,0,5,2021-01-18T00:00:00Z,01001,"16.01.2022, 00:00 Uhr",0,-9,2021-01-16T00:00:00Z,0,1,1,Nicht übermittelt

In [6]:
## Clean-up and data preparation
df.columns = df.columns.str.replace('properties.', '')
df = df[['IdBundesland', 'Bundesland', 'Landkreis', 'IdLandkreis', 'AnzahlFall', 'Altersgruppe', 'AnzahlTodesfall', 'Geschlecht', 'Meldedatum']]
df['Meldedatum'] = df['Meldedatum'].str.replace('T00:00:00Z', '')
df['Meldedatum'] = pd.to_datetime(df['Meldedatum'])

df = df.merge(df_einwohner_kreis, how='left', left_on='IdLandkreis', right_on='RS')
df = df.merge(df_einwohner_land, how='left', left_on='Bundesland', right_on='Bundesland') 

df_gender = pd.get_dummies(df['Geschlecht']).mul(df['AnzahlFall'],0)
df_gender.columns = ['Sex_M', 'Sex_F', 'Sex_Unbekannt']
df = df.join(df_gender)

df_age = pd.get_dummies(df['Altersgruppe']).mul(df['AnzahlFall'],0)
df = df.join(df_age)



df.drop(['RS', 'Kreis'], axis=1, inplace=True)

df.head()

<ipython-input-6-157b8c82909c>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('properties.', '')

,IdBundesland,Bundesland,Landkreis,IdLandkreis,AnzahlFall,Altersgruppe,AnzahlTodesfall,Geschlecht,Meldedatum,Einwohner_x,...,Sex_M,Sex_F,Sex_Unbekannt,A00-A04,A05-A14,A15-A34,A35-A59,A60-A79,A80+,unbekannt
0,1,Schleswig-Holstein,SK Flensburg,01001,2,A05-A14,0,W,2020-11-13,90164.0,...,0,2,0,0,2,0,0,0,0,0
1,1,Schleswig-Holstein,SK Flensburg,01001,1,A05-A14,0,W,2020-12-14,90164.0,...,0,1,0,0,1,0,0,0,0,0
2,1,Schleswig-Holstein,SK Flensburg,01001,1,A05-A14,0,W,2020-12-27,90164.0,...,0,1,0,0,1,0,0,0,0,0
3,1,Schleswig-Holstein,SK Flensburg,01001,1,A05-A14,0,W,2021-01-14,90164.0,...,0,1,0,0,1,0,0,0,0,0
4,1,Schleswig-Holstein,SK Flensburg,01001,1,A05-A14,0,W,2021-01-18,90164.0,...,0,1,0,0,1,0,0,0,0,0

In [7]:
df_bund = df.groupby(by=['Meldedatum']).agg({
    'AnzahlFall':'sum',
    'AnzahlTodesfall': 'sum',
    'Sex_M': 'sum',
    'Sex_F': 'sum',
    'Sex_Unbekannt': 'sum',
    'A00-A04': 'sum',
    'A05-A14': 'sum',
    'A15-A34': 'sum',
    'A35-A59': 'sum',
    'A60-A79': 'sum',
    'A80+': 'sum',
    'unbekannt': 'sum'
})



df_bund['Fall_Last7'] = df_bund['AnzahlFall'].rolling(min_periods=1, window=7).sum()
df_bund['Fall_MA7'] = df_bund['AnzahlFall'].rolling(7).mean()
df_bund['R7'] = (df_bund['Fall_MA7'].pct_change(periods=4) + 1).round(2)

df_bund['Einwohner'] = df_einwohner_land['Einwohner'].sum()
df_bund['Fall_100K'] = ((df_bund['Fall_Last7'] / df_bund['Einwohner']) * 100000).round(2)

df_bund.reset_index(inplace=True)
df_bund['Region'] = 'Deutschland'
df_bund['Typ'] = 'Nation'


df_bund.tail()

,Meldedatum,AnzahlFall,AnzahlTodesfall,Sex_M,Sex_F,Sex_Unbekannt,A00-A04,A05-A14,A15-A34,A35-A59,A60-A79,A80+,unbekannt,Fall_Last7,Fall_MA7,R7,Einwohner,Fall_100K,Region,Typ
695,2022-01-12,66491,10,32731,32810,950,2596,12514,24540,21450,4264,1030,97,319985.0,45712.142857,1.17,83166711,384.75,Deutschland,Nation
696,2022-01-13,63572,8,31005,31577,990,2626,11782,23443,20672,3861,1104,84,334908.0,47844.000000,1.20,83166711,402.69,Deutschland,Nation
697,2022-01-14,56641,5,27424,28082,1135,2440,10545,20560,18571,3510,927,88,344193.0,49170.428571,1.18,83166711,413.86,Deutschland,Nation
698,2022-01-15,26127,0,12710,12874,543,1233,5177,9114,8468,1679,417,39,341694.0,48813.428571,1.11,83166711,410.85,Deutschland,Nation
699,2022-01-16,3007,1,1469,1497,41,164,578,997,990,224,44,10,327370.0,46767.142857,1.02,83166711,393.63,Deutschland,Nation

In [8]:
df_land = df.groupby(by=['Bundesland', 'Meldedatum']).agg({
    'IdBundesland': 'first',
    'AnzahlFall': 'sum',
    'Einwohner_y': 'first',
    'AnzahlTodesfall': 'sum',
    'Sex_M': 'sum',
    'Sex_F': 'sum',
    'Sex_Unbekannt': 'sum',
    'A00-A04': 'sum',
    'A05-A14': 'sum',
    'A15-A34': 'sum',
    'A35-A59': 'sum',
    'A60-A79': 'sum',
    'A80+': 'sum',
    'unbekannt': 'sum'
})

df_land.rename(columns={'Einwohner_y': 'Einwohner'}, inplace=True)


df_land['Fall_MA4'] = df_land.groupby(level=0, group_keys=True)['AnzahlFall'].rolling(4).mean().values
df_land['Fall_MA7'] = df_land.groupby(level=0, group_keys=True)['AnzahlFall'].rolling(7).mean().values

df_land['R4'] = df_land['Fall_MA4'].pct_change(periods=4) + 1
df_land['R7'] = (df_land['Fall_MA7'].pct_change(periods=4) + 1).round(2)

df_land['Fall_Last7'] = df_land['AnzahlFall'].rolling(min_periods=1, window=7).sum()
df_land['Fall_100K'] = ((df_land['Fall_Last7'] / df_land['Einwohner']) * 100000).round(2)

#

df_land.reset_index(inplace=True)
df_land['Region'] = df_land['Bundesland']
df_land['Typ'] = 'Bundesland'

df_land.tail()

,Bundesland,Meldedatum,IdBundesland,AnzahlFall,Einwohner,AnzahlTodesfall,Sex_M,Sex_F,Sex_Unbekannt,A00-A04,...,A80+,unbekannt,Fall_MA4,Fall_MA7,R4,R7,Fall_Last7,Fall_100K,Region,Typ
10813,Thüringen,2022-01-12,16,798,2133378,0,384,411,3,26,...,25,0,654.50,743.857143,0.641352,0.69,5207.0,244.07,Thüringen,Bundesland
10814,Thüringen,2022-01-13,16,715,2133378,0,372,341,2,29,...,21,1,757.50,677.857143,1.047718,0.63,4745.0,222.42,Thüringen,Bundesland
10815,Thüringen,2022-01-14,16,578,2133378,1,278,299,1,29,...,14,2,779.75,647.000000,1.415154,0.66,4529.0,212.29,Thüringen,Bundesland
10816,Thüringen,2022-01-15,16,287,2133378,0,162,121,4,16,...,2,1,594.50,599.714286,0.975390,0.71,4198.0,196.78,Thüringen,Bundesland
10817,Thüringen,2022-01-16,16,180,2133378,0,84,96,0,7,...,5,0,440.00,582.142857,0.672269,0.78,4075.0,191.01,Thüringen,Bundesland

In [9]:
df_kreis = df.groupby(by=['Landkreis', 'Meldedatum']).agg({
    'IdLandkreis': 'first',
    'Bundesland': 'first',
    'AnzahlFall': 'sum',
    'Einwohner_x': 'first',
    'AnzahlTodesfall': 'sum',
    'Sex_M': 'sum',
    'Sex_F': 'sum',
    'Sex_Unbekannt': 'sum',
    'A00-A04': 'sum',
    'A05-A14': 'sum',
    'A15-A34': 'sum',
    'A35-A59': 'sum',
    'A60-A79': 'sum',
    'A80+': 'sum',
    'unbekannt': 'sum'
})
    
df_kreis.rename(columns={'Einwohner_x': 'Einwohner'}, inplace=True)


df_kreis['Fall_MA4'] = df_kreis.groupby(level=0, group_keys=True)['AnzahlFall'].rolling(4).mean().values
df_kreis['Fall_MA7'] = df_kreis.groupby(level=0, group_keys=True)['AnzahlFall'].rolling(7).mean().values

df_kreis['R4'] = df_kreis['Fall_MA4'].pct_change(periods=4) + 1
df_kreis['R7'] = (df_kreis['Fall_MA7'].pct_change(periods=4) + 1).round(2)

df_kreis['Fall_Last7'] = df_kreis['AnzahlFall'].rolling(min_periods=1, window=7).sum()
df_kreis['Fall_100K'] = ((df_kreis['Fall_Last7'] / df_kreis['Einwohner']) * 100000).round(2)

df_kreis.reset_index(inplace=True)
df_kreis['Region'] = df_kreis['Landkreis']
df_kreis['Typ'] = 'Landkreis'

df_kreis.tail()

,Landkreis,Meldedatum,IdLandkreis,Bundesland,AnzahlFall,Einwohner,AnzahlTodesfall,Sex_M,Sex_F,Sex_Unbekannt,...,A80+,unbekannt,Fall_MA4,Fall_MA7,R4,R7,Fall_Last7,Fall_100K,Region,Typ
163445,StädteRegion Aachen,2022-01-11,05334,Nordrhein-Westfalen,878,557026.0,0,435,442,1,...,3,0,446.50,460.428571,0.830698,1.26,3223.0,578.61,StädteRegion Aachen,Landkreis
163446,StädteRegion Aachen,2022-01-12,05334,Nordrhein-Westfalen,661,557026.0,0,333,326,2,...,4,0,540.25,487.571429,1.254208,1.24,3413.0,612.72,StädteRegion Aachen,Landkreis
163447,StädteRegion Aachen,2022-01-13,05334,Nordrhein-Westfalen,624,557026.0,0,296,325,3,...,23,0,645.50,521.857143,1.774570,1.28,3653.0,655.80,StädteRegion Aachen,Landkreis
163448,StädteRegion Aachen,2022-01-14,05334,Nordrhein-Westfalen,441,557026.0,0,229,212,0,...,5,0,651.00,501.714286,1.747651,1.15,3512.0,630.49,StädteRegion Aachen,Landkreis
163449,StädteRegion Aachen,2022-01-15,05334,Nordrhein-Westfalen,2,557026.0,0,0,2,0,...,0,0,432.00,461.142857,0.967525,1.00,3228.0,579.51,StädteRegion Aachen,Landkreis

In [10]:
## Final dataset
df_merged = pd.concat([df_bund, df_land, df_kreis])

## The geolocations for the districts of Berlin are not included in the dataset, 
## to have Berlin displayed on the choropleth map, I substitute the values for the federal state of Berlin.
df_merged.loc[df_merged['Bundesland'] == 'Berlin', 'IdLandkreis'] = '11000'

df_merged.tail()

,Meldedatum,AnzahlFall,AnzahlTodesfall,Sex_M,Sex_F,Sex_Unbekannt,A00-A04,A05-A14,A15-A34,A35-A59,...,Einwohner,Fall_100K,Region,Typ,Bundesland,IdBundesland,Fall_MA4,R4,Landkreis,IdLandkreis
163445,2022-01-11,878,0,435,442,1,32,223,327,242,...,557026.0,578.61,StädteRegion Aachen,Landkreis,Nordrhein-Westfalen,NaN,446.50,0.830698,StädteRegion Aachen,05334
163446,2022-01-12,661,0,333,326,2,18,104,287,206,...,557026.0,612.72,StädteRegion Aachen,Landkreis,Nordrhein-Westfalen,NaN,540.25,1.254208,StädteRegion Aachen,05334
163447,2022-01-13,624,0,296,325,3,29,138,244,150,...,557026.0,655.80,StädteRegion Aachen,Landkreis,Nordrhein-Westfalen,NaN,645.50,1.774570,StädteRegion Aachen,05334
163448,2022-01-14,441,0,229,212,0,4,126,180,105,...,557026.0,630.49,StädteRegion Aachen,Landkreis,Nordrhein-Westfalen,NaN,651.00,1.747651,StädteRegion Aachen,05334
163449,2022-01-15,2,0,0,2,0,0,0,1,1,...,557026.0,579.51,StädteRegion Aachen,Landkreis,Nordrhein-Westfalen,NaN,432.00,0.967525,StädteRegion Aachen,05334

In [11]:
if os.path.exists('covid_panel_backup.csv'):
    os.remove('covid_panel_backup.csv')

In [12]:
os.rename('covid_panel.csv', 'covid_panel_backup.csv')

In [13]:
df_merged.to_csv('covid_panel.csv')